:root{
    --gridSize: 16;
}

.rows{
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 40px);
}

.grid{
    border: 1px solid black;
}

.grid-hover{
    background-color: aqua;
}

#reset{
    display: block;
    padding: 10px;
    margin: 10px;
}